/* configuraciones de generales */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    font-size: 1.6rem;
    background-color: hsl(30, 38%, 92%);
}
main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    /* place-content: center; es lo mismo que usar aling-items y justify-content
    pero el/los elementos centrados se comportan un poco distinto */
    /* align-items: center;
    justify-content: center; */
}
/* configuro 1 contenedor principal para el contenido */
.card {
    width: 92vw;
    /* width: 343px;*/
    height: 611px; /* mejor poner height en px asi al achicar la pantalla el contenedor sigue cubriendo los elementos */
    /* height: 92vh;
    max-height: 611px; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
/* configuro los 2 contenedores de imagen e info */
picture{
    display: flex;
    max-height: 40%;
}
.product__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
#lore-container {
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
p{
    color: hsl(228, 12%, 48%);
}
#producto{
    font-size: 1.25rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}
h1{
    font-family: 'Fraunces', serif;
    margin: 0;
    line-height: 100%;
    font-size: 3.2rem;
}
#descripcion{
    line-height: 164%;
    font-size: 1.4rem;
}
#precios-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#precio1{
    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    color: hsl(158, 36%, 37%);
}
#precio2{
    text-decoration:line-through;
    margin-left: 20px;
    font-size: 1.3rem; 
}
button{
    font-size: 1.45rem;
    font-weight: 700;
    height: 49px;
    border-radius: 8px;
    border-style: none;
    color: white;
    background-color: hsl(158, 36%, 37%);
    cursor: pointer;
}
button:hover{
    background-color: rgb(32, 91, 58);
}
button img{
    position: relative;
    top: 1.5px;
    margin-right: 7px;
}

@media (min-width: 605px) {
    /* configuro 1 contenedor principal para el contenido */
    .card {
      width: 600px;
      height: 450px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-self: center;
    }
    /* configuro los 2 contenedores principales */
    picture {
        margin: 0;
        max-height: max-content;
    }
    .product__image {
        border-radius: 10px 0 0 10px;
    }
    #lore-container{
        padding: 32px 32px;
    }
}