/* configuraciones de generales */
*{
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-container{ 
    height: 92%;
    width: 92%;
    background-color: white;
    border-radius: 10px;
}
/* configuro los 2 contenedores principales */
#img-container{
    background-image:url(images/image-product-mobile.jpg);
       background-size: cover;
       background-position: center center;
       height: 39%;
       width: 100%;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
}
#lore-container{
    height: 61%;
    padding: 23px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p{
    margin: 0;
    color: hsl(228, 12%, 48%);
    font-size: 13px; 
}
#producto{
    letter-spacing: 4px;
}
h1{
    font-family: 'Fraunces', serif;
    margin: 0;
}
#descripcion{
    line-height: 167%;
    font-size: 14px;
}
#precios-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#precio1{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
}
#precio2{
    text-decoration:line-through;
    margin-left: 20px;
}
button{
    font-size: 15px;
    font-weight: 700;
    height: 47px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: hsl(158, 36%, 37%);
}
button:hover{
    background-color: rgb(32, 91, 58);
}
svg{
    position: relative;
    top: 0.125em;
    margin-right: 7px;
}

@media (min-width: 725px){
    #main-container{
        max-width: 780px;
        height: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* configuro los 2 contenedores principales */
    #img-container{
        background-image:url(images/image-product-desktop.jpg);
        height: 100%;
        width: 51%;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
    #lore-container{
        height: 100%;
        padding: 38px 42px;
        width: 49%;
    }
    p{
        font-size: 15px;
    }
    h1{
        font-size: 2.5em;
        line-height: 99%
    }
    #descripcion{
        font-size: 17px;
    }
    #precio1{
        font-size: 2.6rem;
    }
    button{
        font-size: 17px;
        height: 3.3em;
    }
}